.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
# Additional folders to ignore
/public/uploads
/storage/logs
/storage/framework/cache
/storage/framework/sessions
/storage/framework/views
public/storage
